{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}

<h2 style="color:white">Acerca de Mi</h2>

{% endblock %}

{% block cuerpo %}

<h3 style="color:red">ACERCA DE MI</h3>



<hr>
<h>Apellido y nombre : Koss Federico </h3>
<hr><hr>
<p>Mi nombre es Federico Koss. Me decido a la docencia hace aproximadamente 6 años, <br>
    me apasiona el mundo de la robotica un campo que quiero desarrollar en el futuro. Resido <br>
    actualmente es Argentina Provincia de Buenos Aires.Tengo 35 años y mi interes por la programacion <br>
    aparece hace algunos años lo cual he tenido muchas frustaciones y ahora esoty decidido a aprender.
</p>
<br>
<p>
    <a href="{% url 'inicio' %}">REGRESAR</a>
</p>



{% endblock%}
        