{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}

<h2 style="color:white">Confirmando la Eliminacion de la noticia de economia</h2>

{% endblock %}

{% block cuerpo %}

{% if user.is_superuser %}
<form method="post">{% csrf_token %}
    Estas seguro que deseas borrar la noticia Sobre economia "{{ object }}"?
    <input type="submit" value="SI">
</form>
{% else %}
<h1>Usted de no es el usuario administrador</h1>
{% endif%}
<p>
    <a href="{% url 'inicio' %}">REGRESAR</a>
</p>



{% endblock%}


