{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}

<h2 style="color:white">Listando los detalles</h2>

{% endblock %}

{% block cuerpo %}

<p>TITULO : <i>{{economy.titulo}}</i></p>
<p>SUBTITULO : <i>{{economy.subtitulo}}</i></p>
<p>CUERPO : <i>{{economy.cuerpo}}</i></p>
<p>AUTOR : <i>{{economy.autor}}</i></p>
<p>FECHA : <i>{{economy.fecha}}</i></p>

<img src="{{economy.imagen.url}}"  height="200px" width="200px">



<p>
    <a href="{% url 'economy_listar' %}">REGRESAR</a>
</p>




{% endblock %}