{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}

<h2 style="color:white">Listando los detalles</h2>

{% endblock %}

{% block cuerpo %}

<p>TITULO : <i>{{sports.titulo}}</i></p>
<p>SUBTITULO : <i>{{sports.subtitulo}}</i></p>
<p>CUERPO : <i>{{sports.cuerpo}}</i></p>
<p>AUTOR : <i>{{sports.autor}}</i></p>
<p>FECHA : <i>{{sports.fecha}}</i></p>

<img src="{{sports.imagen.url}}"  height="200px" width="200px">

<p>
    <a href="{% url 'sports_listar' %}">REGRESAR</a>
</p>


{% endblock %}